uvicorn
wikipedia
word2number
vosk
wolframalpha
transformers==4.9.1
torch==1.8.0
SpeechRecognition
sklearn
tensorflow
scipy
scapy
requests
rake-nltk
pywhatkit
Keras
numpy
openai
pandas
pydub
pyttsx3
sounddevice
geocoder
google-api-python-client
pytz
fastapi
soundfile
pyaudio